@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  /* Colors */

  --color-primary: #0b1d54;
  --color-secondary: #3fafff;
  --color-accent-red: #ff0000;
  --color-white: #ffffff;
  --color-hover-accent-red: #e60000;
  --color-hover-primary: #1840ba;
  --color-button-disabled: #cccccc;

  /* Fonts */
  --font-heading: "Mona Sans SemiExpanded", sans-serif;
  --font-body: "Poppins", sans-serif;
}

@layer base {
  body {
    margin: 0;
    font-family: var(--font-body);
  }

  h1 {
    font-family: var(--font-heading);
    font-size: 72px;
    line-height: 1.1;
    font-weight: bolder;
  }
  li:hover {
    color: var(--color-accent-red);
    cursor: pointer;
  }
  li:focus {
    color: var(--color-accent-red);
    outline: none;
  }
}

@layer components {
  .hero-title {
    font-family: var(--font-heading);
    font-size: 102px;
    font-weight: 800;
    line-height: auto;
    text-align: center;
  }
  @media (max-width: 600px) {
    .hero-title {
      font-size: 40px;
      font-weight: 800;
      text-align: center;
    }
  }

  .navbar-menu {
    font-family: var(--font-body);
    font-size: 18px;
    font-weight: 600;
    list-style: none;
  }

  /* Overlay */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: flex; /* For centering content */
    justify-content: center;
    align-items: center;
  }

  /* Buttons */
  .button-cta {
    font-family: var(--font-heading);
    font-weight: 800;
    border-radius: 5px;
    background-color: var(--color-accent-red);
    color: var(--color-white);
    padding: 20px 40px;

    transition: background-color 0.3s ease;
    &:hover {
      background-color: var(--color-hover-accent-red);
    }
    &:disabled {
      background-color: var(--color-button-disabled);
      cursor: not-allowed;
    }
  }

  .button-hero-cta {
    font-family: var(--font-heading);
    font-weight: 800;
    font-size: 20px;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 20px 40px;

    transition: background-color 0.3s ease;
    &:hover {
      background-color: var(--color-hover-primary);
    }
    &:disabled {
      background-color: var(--color-button-disabled);
      cursor: not-allowed;
    }
  }

  .paragraph {
    font-family: var(--font-body);
    font-size: 38px;
    line-height: 1.6;
    color: var(--color-primary);
    margin-bottom: 20px;
    width: 852px;
  }

  .paragraph-footer {
    font-family: var(--font-body);
    font-size: 15px;
    line-height: 1.6;
    color: var(--color-white);
  }
}
